<div class="card" style="width: 33.333%;">
    <img class="card-img-top" src=" {{this.image}}" alt="">
    
    
     <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
        
        <button type='submit'><a href='/movie/{{id}}'>See More</a></button>  
    </div>

    
    
   
</div>