<section class='background-popcorn d-flex col-12'>
<h1 class='one-title' >Cinema Ironhack</h1>
<button class='my-button' type ='submit'><a href='/movies/{{id}}'>Check the movies</a></button>

</section>